body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    border: 3px solid #000;
  }
  