/* Styles spécifiques au thème noir */
.dark-theme {
    background-color: #ffffff;
    color: #fff;
  }
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme p,
.dark-theme a {
  color: #fff; /* Couleur du texte pour le thème noir */
}