/*--------------Les paramertre par defaut---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/*---Couleur-----*/
:root{
    --main-color: rgb(255, 170, 0);
    --text-color: black;
    --bg-color: white;
    --icon-color: black;
}

body{
    color: var(--text-color);
}

/*------------------------contenu de la boutique------------------------*/

/*---Div qui englobe tout-----*/
.shop-content{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}
/*---Div qui englobe tout-----*/
.boite_global {
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/*---div qui s'occupe de l'affiche de chaque box-----*/
.product-box{
    width: auto;
    height: auto;
    position: relative;
    background-color: #ffffff;
    margin-right: 5rem;
    margin-bottom: 5rem;
    flex-basis: 25%;
    min-width: 200px;
    box-shadow: #3c328b 0px 7px 29px 0px;
    border-radius: 20px black;
    transition: transform 0.5s;
}


.product-box:hover{
    border: 2px solid var(--text-color);

}


.product-box input{
    border-radius: 5px;
    margin: 10px;
    padding : 5px;
    font-size: 16px;
}

.product-img{
    width: 100%;
    border: #000000;
    height: auto;
    margin-bottom: 0.5rem;
}





/*---message en haut avant les produit-----*/
.Section-title{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}



/*--------------Titre des formules------------------------*/
.product-title{
    text-align: center;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #000000;
}

/*---le prix-----*/
.price{
    color:#000000;
    margin-left: 100px;
    text-align: center;
    font-weight: 500;
}

/*----------------Animation boutton----------------------*/
.button-87 {
    display: flex;
    margin: 1rem auto 2rem auto;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #3c328b;
    background-image: linear-gradient(45deg, #3c328b 0%, #d0cbfe  51%, #3c328b  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
  
.button-87:active {
    transform: scale(0.95);
}
/*----------------------------------------------------*/


/*---transition d'images quand la sourie passe-----*/

.product-img:nth-child(2){
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 1s;
    -webkit-transition: opacity ease 1s;
    -moz-transition: opacity ease 1s;
    -ms-transition: opacity ease 0.4s;
}

.product-box:hover img:nth-child(2){
    opacity: 1;
}


/* Styles spécifiques au thème noir */
.dark-theme {
    background-color: #000;
    color: #fff;
  }
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme p,
.dark-theme li,
.dark-theme ul,
.dark-theme i,
.dark-theme a {
  color: #fff; /* Couleur du texte pour le thème noir */
}